[user]
  name = My Name
  email = My Email@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  added = green
  changed = blue
  untracked = yellow
[color "diff"]
  meta = yellow
  old = red
  new = green
[commit]
  template = ~/.gitmessage
[core]
  editor = vim
